# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
!pip install matplotlib
!pip install pandas
!pip install numpy

Requirement already satisfied: matplotlib in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (3.4.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: numpy>=1.16 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: pandas in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /Users/chinomnsoeleje/opt/anaconda3/lib/python3.8/site-packages (1.20.2)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [ ]:
# How many neighborhood groups are available and which shows up the most?

In [ ]:
# Are private rooms the most popular in manhattan?
ba17 = bos17['BA'].describe()['mean']
ba18 = bos18['BA'].describe()['mean']
print(ba17, ba18)
print(f'\n The type of bos17.columns: {type(bos17.columns)}')


if ba17 > ba18:
    print('Better year in 17')
else:
    print('Better year in 18')

ba_17 = bos17.describe()['BA']['mean']
print(ba_17)

In [ ]:
# Which hosts are the busiest and based on their reviews?

In [4]:
#Which neighorhood group has the highest average price?
average_price = air_bnb.groupby('neighbourhood_group').mean()[['price']].sort_values('price',ascending=False)
print(f" Manhattan has the highest average price")
average_price

 Manhattan has the highest average price

                          price
neighbourhood_group
Manhattan            196.875814
Brooklyn             124.383207
Staten Island        114.812332
Queens                99.517649
Bronx                 87.496792

In [5]:
# Which neighbor hood group has the highest total price?
total_price = air_bnb.groupby('neighbourhood_group').sum()[['price']].sort_values('price',ascending=False)
print(f" Manhattan has the highest total price")
total_price

 Manhattan has the highest average price

                       price
neighbourhood_group
Manhattan            4264527
Brooklyn             2500600
Queens                563867
Bronx                  95459
Staten Island          42825

In [ ]:
#Which top 5 hosts have the highest total price?

In [ ]:
# Who currently has no (zero) availability with a review count of 100 or more?

In [ ]:
# What host has the highest total of prices and where are they located?

In [ ]:
# When did Danielle from Queens last receive a review?

## Further Questions

1. Which host has the most listings?

2. How many listings have completely open availability?

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --